legacy-peer-deps=true
onlyBuiltDependencies[]=electron
onlyBuiltDependencies[]=electron-winstaller
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=@scarf/scarf
